command: pip install -r requirements.txt

tensorflow==2.16.1
keras==3.3.3

numpy==1.26.4
opencv-python==4.10.0.84
Pillow==10.3.0

matplotlib==3.9.0
scikit-learn==1.5.0
scipy==1.13.1

protobuf==4.25.3
h5py==3.11.0

pandas==2.2.2
joblib==1.4.2

ml-dtypes==0.3.2